<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookDL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BookDL.Properties.Settings>
            <setting name="DefaultOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDataKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentState" serializeAs="String">
                <value />
            </setting>
        </BookDL.Properties.Settings>
    </userSettings>
</configuration>